.section {
    padding: 100px 0;
    position: relative;
  }
  .gray-bg {
    background-color: #f5f5f5;
  }
  img {
    max-width: 100%;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  .about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
  }
  @media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
  }
  .about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
  }
  @media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
  }
  .about-text p {
  font-size: 18px;
  max-width: 450px;
  }
  .about-text p mark {
  font-weight: 600;
  color: #20247b;
  }
  
  .about-list {
  padding-top: 10px;
  }
  .about-list .media {
  padding: 5px 0;
  }
  .about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
  }
  .about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
  }
  .about-list p {
  margin: 0;
  font-size: 15px;
  }
  
  @media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
  }
  
  .counter{
  margin-top: 25px;
  }
  .descricao{
  margin-top: 25px;
  }
  .about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  }
  .about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
  }
  .about-section .counter p {
  font-weight: 600;
  margin: 0;
  }
  mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
  }
  .theme-color {
    color: #fc5356;
  }
  .dark-color {
    color: #20247b;
  }
  .card-perfil{
    width: 450px;
    height: 550px;
  }
  .perfil-color{
    background-color: white;
    border: solid thick #20247b;
    border-radius: 1em;
    box-shadow: black 0.5em 0.5em 0.3em;
  }
  .acoes-color{
    color: white;
    padding: 10px;
    background-color: rgb(172, 167, 167); 
    border-radius: 0.5em;
    box-shadow: rgb(118, 118, 118) 0.5em 0.5em 0.3em;
  }

h1{
    font-family:playtime ;
    font-size: 5em;
}

p{
    font-family: chubby;
}
  
@font-face {
    font-family: playtime;
    src: url('../fonts/playtime/playtime.ttf'); 
}

@font-face {
    font-family: chubby;
    src: url('../fonts/chubby/CHUBBY.TTF');
}